*{
  /* background-color: #002244; */
  background-color:#041E42;
    font-family: 'Sarabun', sans-serif;
}

.navbar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.movie-logo{
  font-size: 25px;
  color: white;
  font-family: 'Bruno Ace SC', cursive;
  padding-left: 30px;
}
.home-link a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 100px;
  font-family: 'Sarabun', sans-serif;
}

@media (max-width: 768px) {
  .navbar-container {
      display: flex;
      flex-direction: row;
      width: 768px;
      justify-content: space-between;
      align-items: center;
      height: 50px;
    }

  .home-link a {
          text-decoration: none;
          width: 768px;
          color:white;
          font-size: 20px;
          /* margin-right: 500px; */
          font-family: 'Sarabun', sans-serif;
   }

  
}

@media (max-width: 600px) {
.navbar-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-top: 30px;
  }
}